/*
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
*/

$darkBlue: #0273a0;
$darkBlueHover: #0081af;
$warning: #ce9c06;

html, body, #root {
  height: 100%;
  width: 100%;
  word-wrap: break-word;
}

a {
  color: $darkBlue;
}

a:hover {
  color: $darkBlueHover;
}

#root {
  display: flex;
}

.components-wrapper {
  height: 100%;
  width: 100%;
}

.content-signin-wrapper, .content-wrapper {
  max-width: 988px;
  -webkit-margin-bottom-collapse: separate;
  max-height: 100%;
}

.content-wrapper {
  margin: 6rem auto 2rem auto; // Top is the fixed navigation bar plus the content margin
}

.content-signin-wrapper {
  margin: 5rem auto;
}

.d-flex-1 {
  flex-grow: 1;
}

.d-flex-2 {
  flex-grow: 2;
}

.d-flex-3 {
  flex-grow: 3;
}

.main-nav {
  background-color: $darkBlue;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.main-nav nav {
  max-width: 988px;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.main-nav > nav a {
  color: rgba(255, 255, 255, 0.6);
}

.main-nav > nav a.active {
  color: rgba(255, 255, 255, 0.9);
}

.nav-tabs a, .nav-tabs a:hover {
  color: $darkBlue;
}

.dropdown-menu a.nav-link {
  color: #212529 !important;
}

#navbarDropdown {
  cursor: pointer;
}

.version-wrapper {
  padding-left: 1rem;
}

.version-wrapper span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 11px;
}

.pagination {
  padding-top: 2rem;
}

.page-item.active .page-link {
  background-color: $darkBlue;
  border-color: $darkBlue;
}

.page-link {
  color: $darkBlue;
}

.page-link:hover {
  color: $darkBlueHover;
  cursor: pointer;
}

.page-link:focus {
  box-shadow: none;
}

#tx-table tbody tr {
  cursor: pointer;
}

#peer-table tbody td, #peer-table thead th, #tx-table tbody td, #tx-table thead th, #token-history tbody td, #token-history thead th {
  text-align: center;
}

.tx-data-wrapper label {
  font-weight: bold;
}

.address-wrapper {
  padding: 1rem;
  border: 1px solid #ddd;
}

.address-wrapper p {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

div.new-address-wrapper, button.send-tokens {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

button.new-address {
  margin-right: 1rem;
}

div.new-address-wrapper span {
  margin-right: 1rem;
}

div.new-address-wrapper canvas {
  cursor: pointer;
}

#formSendTokens .outputs-wrapper input, #formSendTokens .inputs-wrapper input, #formSendTokens .wrapper input {
  margin-right: 1rem;
}

#formSendTokens .checkbox-wrapper {
  margin-bottom: 1rem;
}

.tx-input-wrapper textarea {
  margin: 1rem 0;
}

.tx-input-wrapper button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 160px;
}

.main-nav > nav .navbar-brand > img {
  height: 38px;
  width: auto;
}

#qrCodeModal .download-qrcode {
  margin-top: 1rem;
}

i.pointer {
  cursor: pointer;
}

.hathor-alert {
  position: fixed !important;
  right: 1rem;
  bottom: 1rem;
}

.navigation-search i {
  color: #fff;
}

.navigation-search input {
  border: none;
}

#token-history .spent-tx, #token-history .voided {
  text-decoration: line-through;
}

#token-history .input-tr .state, #token-history .input-tr .value, .sent-value {
  color: #dc3545;
}

#token-history .output-tr .state, #token-history .output-tr .value, .received-value {
  color: #28a745;
}

#token-history .state.voided, #token-history .value .voided {
  color: #6c757d !important;
}

#token-history .value {
	text-align: right;
	font-family: monospace;
	font-size: 1.2rem;
}

#token-history .voided-element {
  text-decoration: none;
  background-color: #6c757d;
  font-size: 0.75rem;
  width: 1.5rem;
  height: 0.75rem;
  padding: 0.4rem;
  border-radius: 0.75rem;
  color: white;
  margin-left: 1rem;
}

tr.tr-title {
  background-color: rgba(0,0,0,0.05);
  cursor: default !important;
}

tr.tr-title td {
  font-weight: bold;
}

svg.svg-wrapper {
  width:100%;
  height:250px
}

.svg-wrapper line {
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.svg-wrapper circle {
  fill-opacity: 0.5;
}

.svg-wrapper rect {
  fill-opacity: 0.5;
}

.dag-visualizer input {
  width: 60px;
}

.dag-visualizer btn {
  width: 70px;
}

@media (max-width: 992px) {
  .content-wrapper {
    margin: 6rem 2rem 2rem 2rem;
  }

  .navbar-nav li.nav-item {
    padding: 0rem 1rem;
  }

  .navbar-right {
    padding: 0.5rem 1rem;
  }

  .wallet-wrapper {
    padding: 0 3rem;
  }
}

.line {
  fill: none;
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.hathor-alert {
  display: none;
}

.hathor-alert.show {
  display: block !important;
}

#graph {
  border: 1px solid;
}

#graph .tx, #graph .block {
  stroke: #000;
  stroke-width: 1.5px;
}

#graph .link {
  stroke: #666;
  stroke-width: 0.2px;
}

#graph .tx .tx-text, #graph .block .block-text {
  stroke-width: 0px;
  font-size: 4px;
}

.tooltip {
  position: absolute;
  background-color: white;
  max-width: 200px;
  height: auto;
  padding: 1px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
  pointer-events: none;
}

#graph {
  margin-top: 24px;
}

.dagWrapper {
  width: 100%;
}

.logout-btn {
  border: 0;
  background-color: transparent;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
  outline: 0;
}

.logout-btn:hover {
  opacity: 0.75;
}

.graph-label {
  width: 100%;
}

.graph-div svg {
  max-width: 100%;
}

.outside-content-wrapper {
  background-color: $darkBlue;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.inside-white-wrapper {
  background-color: transparent;
  max-width: 728px;
  padding: 4rem !important;
}

.inside-white-wrapper > div {
  background-color: white;
  padding: 3rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.34);
}

.inside-white-wrapper .hathor-logo {
  width: 70%;
}

.btn-hathor {
  background-color: $darkBlue;
  border-color: $darkBlue;
  color: white;
}

.btn-hathor:hover, .btn-hathor:active, .btn-hathor:visited, .btn-hathor:not(:disabled):not(.disabled):active {
  background-color: $darkBlueHover;
  border-color: $darkBlueHover;
  color: white;
}

.settings hr {
  margin: 3rem 0;
}

.backup-alert {
  top: 4rem;
  text-align: center;
}

.backup-alert a {
  color: #856404;
  text-decoration: underline;
}

.chosen-words-wrapper {
  border: 1px solid #888;
  height: 112px;
  padding-right: 8px;
  padding-left: 8px;
}

.chosen-words-wrapper div {
  margin-top: 0.75rem;
}

.chosen-words-wrapper i {
  background-color: #888;
  color: white;
  padding: 4px;
  border-radius: 12px;
  top: -11px;
  position: relative;
  right: 9px;
  cursor: pointer;
}

.word-chosen {
  padding: 10px;
  background-color: #888;
  color: white;
  border-radius: 16px;
}

.token-bar {
  position: fixed;
  top: 4rem;
  left: 0;
  z-index: 1000;
  background-color: #ececec;
  color: #2c2c2c;
  height: calc(100% - 4rem);
}

.token-bar .header {
  cursor: pointer;
  min-height: 56px;
  padding: 1rem;
  width: 100%;
  background-color: #878787;
  color: white;
}

.token-bar .header i {
  font-size: 1.2rem;
}

.token-bar .body {
  width: 100%;
  overflow-y: auto;
}

.token-bar .token-wrapper {
  width: 100%;
  padding: 1rem;
}

.token-bar .token-wrapper:not(.selected) {
  cursor: pointer;
}

.token-bar .token-wrapper.selected {
  background-color: #2c2c2c;
  color: white;
}

.token-bar .footer {
  border-top: 1px solid #2c2c2c;
  width: 100%;
  min-height: min-content;
}

.token-bar .token-icon {
  font-size: 1.2rem;
}

.token-bar .icon-wrapper {
  width: 100%;
  min-height: 56px;
  padding: 1rem;
  cursor: pointer;
}

.token-bar span.ellipsis {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.token-bar .icon-wrapper span {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.token-bar.closed {
  transition: all 0.4s linear;
  width: 5rem;
}

.token-bar.opened {
  transition: width 0.4s linear;
  width: 13rem;
}

.wallet-wrapper {
  padding: 0 4rem;
}

#formCreateToken .address-checkbox {
  padding-top: 2rem;
}

.token-name {
  font-size: 2.25rem;
}

.token-wrapper i {
  font-size: 1.2rem;
  color: rgba(0,0,0,0.5);
}

.send-tokens-wrapper {
  padding: 1.5rem;
  border: 1px solid #ddd;
  margin-bottom: 2rem;
}

.remove-token-btn {
  background-color: transparent;
  border: 1px solid #dc3545;
  float: right;
}

.unknown-token {
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #ddd;
}

.unknown-symbol {
  background-color: $darkBlue;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  color: white;
}

.hidden {
  display: none;
}

.text-testnet {
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  background-color: #dc3545;
  color: white !important;
  font-weight: bold;
}

.search-div {
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-left: 0;
}

.back-div i {
  color: $darkBlue;
  font-size: 1.5rem;
}

.back-div a {
  text-decoration: underline;
}

.inside-white-wrapper .back-div {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}

.inside-white-wrapper .back-div a, .inside-white-wrapper .back-div i {
  color: white;
}

.important-div > div {
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem;
}

.common-div > div {
  padding: 0.8rem;
}

.bordered-wrapper {
  flex-basis: 100%;
}

.bordered-wrapper > div {
  width: 100%;
  border: 2px solid #eee;
  border-bottom: 0px;
}

.bordered-wrapper > div:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.bordered-wrapper > div:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom: 2px solid #eee;
}

.address-badge {
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
  background-color: #0273a0;
  color: white;
  font-size: 0.7rem;
  float: right;
}

.text-warning {
  color: $warning !important;
}

.text-warning a {
  color: $warning !important;
  text-decoration: underline;
}

.config-string-wrapper, .token-manage-wrapper {
  padding: 1rem;
  border: 1px solid #ddd;
}

.config-string-wrapper span {
  width: 300px;
  text-align: center;
}

.token-detail-bottom {
  padding-top: 3rem;
}

.token-general-info {
  word-break: break-all;
}

.unregistered-token-badge {
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
  background-color: $warning;
  color: white;
}

p.subtitle {
  opacity: 0.7;
  font-size: 0.85rem;
}

span.software {
  font-weight: 700;
  color: #f5925e;
  cursor: pointer;
}
